* {
    box-sizing: border-box;
}
header div a{
    text-decoration: none;
    font-size: 10px;
    color: #000000;
    padding: 9.2px;    
    border-right: 1px solid;
    display: flex;
    flex-direction: row;      
}
a:hover{
    color: green;
}
.navigation-bar {
    background-color: red;
    display: flex;
    position: sticky;
    top: 0px;
    height: 30px;   
    word-break: keep-all;
}
.navigation-bar .drop a{
    word-break: keep-all;
}
.list {
    display: flex;
    flex-direction: column;
}

.list-child {
    display: none;
}

.drop:hover .list-child {
    display: block;
    border-top: 1px solid black;
    background-color: blue;
}

.drop:hover {
    position: relative;
}
.drop:hover .list {
    border-top: 1px solid black;
}
.container button i{
    outline: none;
    
}
.container  {
    display: none;
}
.Tin-chuyen-nganh-info-container{
    display: none;
    padding: 10px;
}
.Tin-chuyen-nganh:hover .Tin-chuyen-nganh-info-container{
    display: block;
}
.Tin-chuyen-nganh-info-img{
    width: 218px;
    height: 150px;
}











