* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header div a{
    text-decoration: none;
    font-size: 10px;
    color: #000000;
    padding: 9.2px;    
    border-right: 1px solid;
    display: flex;
    flex-direction: row;      
}
.list-btn:hover{
    background-color: #019331;
}
.navigation-bar {
    background-color: red;
    display: flex;
    position: sticky;
    top: 0px;
    height: 30px;   
    word-break: keep-all;
}
.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    height: 200px;
    margin-left: 800px;
    width: 300px;
    z-index: -1;
}
.navigation-bar .drop a{
    word-break: keep-all;
}
.list {
    display: flex;
    flex-direction: column;
}

.list-child {
    display: none;
}

.drop:hover .list-child {
    display: block;
    border: 1px solid black;
    background-color: white;

}
.drop:hover {
    position: relative;
}
.drop:hover .list:hover a:hover{
    background-color:  #019331;
}
.container button i{
    outline: none;
    
}
/* .hover-text:hover{
    color: #c80c0c;
} */
.container  {
    display: none;
}
.Tin-chuyen-nganh-info-container{
    display: none;
    padding: 10px;
}
.Tin-chuyen-nganh:hover .Tin-chuyen-nganh-info-container{
    display: block;
}
.Tin-chuyen-nganh-info-img{
    width: 218px;
    height: 150px;
}
#top-up{
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 40px;
    border: 1px solid lightgray;
    background-color: white;
}
#top-up:hover{
    background-color: lightgray;
}










